<!DOCTYPE html>
{% load staticfiles %}
<html lang="de">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/reviewer.css' %}" />

    <title>streber.party: {% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
