{% extends 'reviewer/base.html' %}

{% block title %}
Streber.Party
{% endblock %}




{% block content %}
<h1 id="impressum">Impressum</h1>
keine Garantiebla

<h1 id="we">Über uns</h1>
Nur ich

<h1 id="contact">Kontakt</h1>
Siggert
email

{% endblock %}

{% block bottom-navbar %}
<li class="nav-item"><a class='nav-item-change' href='#impressum'>Impressum</a></li>
<li class="nav-item"><a class='nav-item-change' href='#we'>Über uns</a></li>
<li class="nav-item"><a class='nav-item-change' href='#contact'>Kontakt</a></li>
{% endblock %}


{% block javascript %}
{% endblock %}
