{% extends 'reviewer/base.html' %}

{% block title %}
Büffeln
{% endblock %}



{% block content %}
<p>Fortschritt:</p>

<div class="row">
<div class="col-sm-12">
<div class="container">
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ studying_progress_percent }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ old_stud_prog }}%" >
      {{ studying_progress_percent }}%
    </div>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12 text-center"><p>{{ now_study_card.title }}</p></div>
</div>
<div class="row">
{% autoescape off %}
<div class="col-sm-12 text-center question"><p>{{ now_study_card.front }} </p></div>
{% endautoescape %}
</div>
<p> </p>
<div class="col-sm-12 text-center"><button id="collapse_button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAnswer" aria-expanded="false" aria-controls="collapseAnswer">
    Antwort
  </button>
</div>

<div class="collapse" id="collapseAnswer">

{% autoescape off %}
<p> {{ now_study_card.back }} </p>
{% endautoescape %}
<!--- <p>next: {{ next_card_pk }}</p> --->


<div class="row justify-content-center">

<div class="col-sm-12 text-center"><p>
<a href={% url 'reviewer:button' button=1 pk=now_study_card.pk %} role="button" class="btn btn-danger btn-lg"> Nicht gewusst </a>
<a href={% url 'reviewer:button' button=2 pk=now_study_card.pk %} role="button" class="btn btn-warning btn-lg"> Schwer </a>
<a href={% url 'reviewer:button' button=3 pk=now_study_card.pk %} role="button" class="btn btn-info btn-lg"> Gewusst </a>
<a href={% url 'reviewer:button' button=4 pk=now_study_card.pk %} role="button" class="btn btn-success btn-lg"> Einfach </a></p></div>
</div>
</div>
<p> </p>

<div class="row justify-content-center">
<div class="col-sm-12 text-center"><p><a href={% url 'reviewer:studying_finished' %} role="button" class="btn btn-outline-danger btn-sm"> Abbruch! </a></p></div>
</div>


{% endblock %}


{% block javascript %}
{% comment %}
<!--- following js is for the function of the progress-bar --->
{% endcomment %}
<script type="text/javascript">
   $(document).ready(function() {
      $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
        );

      $('#collapse_button').click(function(){
        $(this).hide();
      });
    });
</script>
{% endblock %}
